.links-wrapper > .links {
    width: 70px;
    font-family: 'Ubuntu Condensed', sans-serif;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.center-column > .links-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 42px;
    width: 500px;
}
.center-column {
    height: 190px;
    width: 100%;
    background-color: #11121b;
    color:#cbcbcb;
    display: flex;
    justify-content: space-between;
    align-items: center;
}