/* Common Nav */

.nav-wrapper {
    background-color: #11121b;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Hover Actions */

.links-wrapper > .links a:hover {
    letter-spacing: 2px;
}
.stie-name a:hover {
    letter-spacing: 2px;
}

/* right Column */

.right-column {
    height: 282px;
    background-color: #11121b;
    color: white;
} 
.right-column img {
    display: flex;
    justify-content: right;
}


/* Left Column */

.left-column {
    height: 282px;
    background-color: #11121b;
    color: white;
    display: flex;
    align-items: center;
}

/* Center Column */

.center-column {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 42px;
}

.center-column > .links-wrapper {
    display: flex;
    justify-content: space-between;
}
.links-wrapper {
    height: 190px;
    width: 500px ;
    background-color: #11121b;
    color:white;
    padding: 60px 100px;
    margin-top: -50px;
}
.links-wrapper > .links a {
    font-family: 'Ubuntu Condensed', sans-serif;
    color:white;
}


.links-wrapper > .links {
    width: 8px;
    text-align: center;
}
.links-wrapper > .links a {
    font-family: "Ubuntu Condenced", sans-serif;
    color: #cbcbcb;
    text-decoration: none;
    transition: 0.5s;
}
.links {
    display: flex;
}
.links-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.stie-name a {
    font-family: "Ubuntu Condenced", sans-serif;
    text-decoration: none;
    background-color: #11121b;
    color: #cbcbcb;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}