.links-wrapper {
    height: 190px;
    background-color: #11121b;
    color:#cbcbcb;
    padding: 60px 100px;
    margin-top: -50px;
}
.links-wrapper > .links a {
    font-family: 'Ubuntu Condensed', sans-serif;
    color:white;
}
.center-column {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 42px;
}

.center-column > .links-wrapper {
    display: flex;
    justify-content: space-between;
}
.links-wrapper > .links {
    width: 70px;
    text-align: center;
}
.links-wrapper > .links a {
    font-family: "Ubuntu Condenced", sans-serif;
    word-spacing: 50px;
    color: #cbcbcb;
    text-decoration: none;
    transition: 0.5s;
}
.links {
    display: flex;
}
.links-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.stie-name {
    background-color: #11121b;
    color: #cbcbcb;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}
/* Hover Actions */
.links-wrapper > .links a:hover {
    color: #cea135;
    letter-spacing: 2px;
}
.stie-name:hover {
    color: #cea135;
    letter-spacing: 2px;
}