/* Download Button */

@import url(https://fonts.googleapis.com/css?family=Nunito:400,700,300);
body {
  height: 100%;
  font-family: "Nunito", sans-serif;
  background-color: #060e33;
  
}


.btn {
  margin-top: 150px;
  position: relative;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  padding: 15px;
  padding-right: 50px;
  padding-left: 50px;
  border-radius: 3px;
  cursor: pointer;
  overflow: hidden;
  box-sizing: border-box;
  font-size: 14px;
  transition: all 0.3s ease;
}


.btn:hover {
  background-color: black;
  color: white;
  border: none
}

/* Page */

.btn a {
    text-decoration: none;
    color: white;
}
.Bedrockdownload {
  border-top: white solid 2px;
  border-bottom: white solid 1px;
  border-left: white solid 2px;
  border-right:  white solid 2px;
  color: white;
  background-color: #cea135;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.Bedrockdownload h3 {
  position: absolute;
}

.Bedrockdownload p {
  margin-top: 80px;
  position: absolute;
}

.javadownload {
  border-top: white solid 1px;
  border-bottom: white solid 1px;
  border-left: white solid 2px;
  border-right:  white solid 2px;
  color: white;
  background-color: #cea135;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.javadownload h3 {
position: absolute;
}

.javadownload p {
margin-top: 80px;
position: absolute;
}

.archive {
  font-family: 'Nunito', sans-serif;
  color: white;
  background-color: #cea135;
  height: 200px;
  border-top: white solid 1px;
  border-bottom: white solid 2px;
  border-left: white solid 2px;
  border-right:  white solid 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.archive a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: white;
}

/* .parallax {
  position: relative;
  background-image: url(../images/textures/minercaft.jpg);
  padding: 100px;
  height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */